/*-- scss:defaults --*/
$theme-blue: #377eb8;
$theme-red: #e41a1c;
$theme-gray: #cccccc;

/*-- scss:rules --*/

.blue {
  color: $theme-blue;
}

.red {
  color: $theme-red;
}

.gray {
  color: $theme-gray;
}

/* alignment */

.h2center h2 {
  text-align: center;
}

.center body {
  text-align: center;
}
